[submodule "libraries/temporary"]
	path = libraries/temporary
	url = https://github.com/davidpersson/temporary.git
[submodule "libraries/li3_lldr"]
	path = libraries/li3_lldr
	url = https://github.com/UnionOfRAD/li3_lldr.git
[submodule "libraries/li3_flash_message"]
	path = libraries/li3_flash_message
	url = https://github.com/atelierdisko/li3_flash_message.git
[submodule "libraries/li3_access"]
	path = libraries/li3_access
	url = https://github.com/atelierdisko/li3_access.git
[submodule "libraries/li3_mailer"]
	path = libraries/li3_mailer
	url = git@github.com:atelierdisko/li3_mailer.git
