[submodule "libraries/temporary"]
	path = libraries/temporary
	url = https://github.com/davidpersson/temporary.git
[submodule "libraries/li3_lldr"]
	path = libraries/li3_lldr
	url = https://github.com/UnionOfRAD/li3_lldr.git
[submodule "libraries/li3_flash_message"]
	path = libraries/li3_flash_message
	url = https://github.com/atelierdisko/li3_flash_message.git
[submodule "libraries/li3_access"]
	path = libraries/li3_access
	url = https://github.com/atelierdisko/li3_access.git
[submodule "libraries/li3_mailer"]
	path = libraries/li3_mailer
	url = git@github.com:atelierdisko/li3_mailer.git
[submodule "libraries/li3_behaviors"]
	path = libraries/li3_behaviors
	url = https://github.com/davidpersson/li3_behaviors.git
[submodule "libraries/li3_taggable"]
	path = libraries/li3_taggable
	url = git@github.com:atelierdisko/li3_taggable.git
[submodule "libraries/textual"]
	path = libraries/textual
	url = git@github.com:davidpersson/textual.git
[submodule "libraries/li3_cldr"]
	path = libraries/li3_cldr
	url = https://github.com/UnionOfRAD/li3_cldr.git
