{{#if url}}
	<a href="{{url}}">
{{/if}}
	<h1 class="title">{{title}}</h1>
	<div class="count-groups">
		{{#each data}}
			<div class="count-group">
				<div class="title">{{@key}}</div>
				<div class="count">{{this}}</div>
			</div>
		{{/each}}
	</div>
{{#if url}}
	</a>
{{/if}}

